.addprojbtn {
  background: rgb(109, 212, 253);
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addprojbtn:hover{
  background: rgb(61, 125, 235);
  box-shadow: 0 0 8px 4px rgb(0, 0, 0, 0.2);
}

.dark .addprojbtn{
   background: rgb(57, 119, 225);
}

.dark .addprojbtn:hover{
  background: rgb(109, 212, 253);
  box-shadow: 0 0 4px 4px rgb(255, 255, 255, 0.2);
}