.projectcard{
    min-height: 220px;
    border: 1px solid rgb(95, 99, 104);
    width: 330px;
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.projectcard-img .delete-project .spinner circle {
  stroke: #eef;
  stroke-width: 5;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.8));
}

.dark .projectcard{
    background-color: #27272f;
}

.projectcard-img{
    display: flex;
    width: 100%;
    height: inherit;
    position: relative;
    border-bottom: 1px solid rgb(95, 99, 104);
}
.projectcard-img img{
    display: block;
    width: 100%;
    height : 108px;
    object-fit: cover;
}

.projectcard .projectcard-desc{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    max-width: 100%;
    margin: 10px;
}

.projectcard-desc h3{
    color: var(--text);
    margin-top: 10px;
    font-size: 23px;
}

.projectcard-tags{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10px;
}

.projectcard-tags > div{
    padding: 5px 10px;
    color: var(--text);
    border: 1px solid var(--text);
    width: fit-content;
    border-radius: 99px;
}

.projectcard-tags > div:hover{
    background-color: #eef;
}

.dark .projectcard-tags > div:hover{
    background-color: #0d0d18;
}

.line-break{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 99, 104);
    height: 0.5px;
    width: 100%;
}

.projectcard-api{
    display: flex;
    flex-direction: row;
    height: 3.1rem;
}

.proj-status{
    display: inline-flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    font-size: 13px;
    min-width: 80px;
    height: 38px;
    border-radius: 999px;
    border: 1px solid #ccc;
    gap: 9px;
    padding: 4px 12px;
    background-color: #f8fafc;
    margin-left: 0.5rem;
}

.dark .proj-status{
    background-color: #28283f;
}

.status-word{
    font-weight: 500;
    line-height: 1;
}

.status-symbol{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
}

.dark .status-symbol{
    border: 1px solid #ccc;
}

.status-symbol.running { background-color: #22c55e; }
.status-symbol.starting { background-color: #f28807; }
.status-symbol.sleeping { background-color: #dd7d08;; }
.status-symbol.runtime_error, .status-symbol.build_error { background-color: #ef4444; }
.status-symbol.paused { background-color: #f1f50b; }
.status-symbol.loading {background-color: #cbd5e1; }

.hf-space-link, .github-star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hf-space-link{
    margin-left: 0.3rem;
}

.delete-project{
    position: absolute;
    top: 5px;
    right: 5px;
}

.github-star{
    margin-left: auto;
    padding-right: 0.5rem;
}

.hf-space-link button,
.delete-project button,
.github-star button{
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-project button{
    border-radius: 10px;
    background-color: var(--bg);
}

.hf-space-link button img,
.delete-project button img,
.github-star button img{
    width: 100%;
    height: auto;
}

.github-star button{
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.github-star button img{
    width: 100%;
    height: auto;
}

.delete-project button:hover,
.hf-space-link button:hover,
.github-star button:hover{
    background: #dee;
}

.dark .delete-project button img,
.dark .hf-space-link button img,
.dark .github-star:not(.full) button img{
    filter: invert(1) brightness(1.4) contrast(1.2);
}

.dark .delete-project button:hover,
.dark .hf-space-link button:hover,
.dark .github-star button:hover{
    background: #666;
}